@import url(https://fonts.googleapis.com/css?family=Open+Sans:400,300);

.awecf:before, .awecf:after { content: " "; display: table; }
.awecf:after { clear: both; }
.awecf { *zoom: 1; }

.awesome-weather-wrap {
	background: #333;
	text-shadow: 0 1px 1px rgba(0,0,0,0.3);
    -webkit-transition: background 0.5s ease-in;
    -moz-transition: background 0.5s ease-in;
    -o-transition: background 0.5s ease-in;
    transition: background 0.5s ease-in;
    color: #fff;
    font-family: 'Open Sans', sans-serif;
    font-weight: 400;
    font-size: 14px;
    line-height: 14px;
    clear: both;
    max-width: 400px;
    margin: 0 auto;
}

.awesome-weather-wrap.darken { 
	text-shadow: 0 1px 1px rgba(0,0,0,0.9);
}

.awesome-weather-wrap.temp1 { background: #43adff; }
.awesome-weather-wrap.temp2 { background: #629BE0; }
.awesome-weather-wrap.temp3 { background: #8289C1; }
.awesome-weather-wrap.temp4 { background: #A178A3; }
.awesome-weather-wrap.temp5 { background: #C06684; }
.awesome-weather-wrap.temp6 { background: #E05465; }
.awesome-weather-wrap.temp7 { background: #ff4246; }
.awesome-weather-wrap.temp8 { background: #f9f9f9; }

.awesome-weather-cover { width: 100%; height: 100%; background-size: cover; }
.awesome-weather-darken { width: 100%; height: 100%; background: rgba(0,0,0,0.3); }

.awesome-weather-header {
	float: left;
	text-align: center;
	text-shadow:none;
	font-size: 13px;
	color: #666;
	margin: 8px 10px 0 0;
}
.awesome-weather-wrap.darken .awesome-weather-header { background: rgba(0,0,0,0.2); }


.awesome-weather-current-temp {
	float: left;
	font-size: 24px;
	line-height: 1em;
	font-family:Arial, Helvetica, sans-serif;
	color:#666;
	text-shadow: none;
	background: url(../images/icons/weather-icon.png) no-repeat right 0;
	padding-right: 35px;
}

.awesome-weather-current-temp sup { font-size: 14px; top: -0.5em; padding-left: 3px; color: #666; font-family:Arial, Helvetica, sans-serif; }

.awesome-weather-todays-stats {
	float: right;
	text-align: right;
	padding: 14px 5%;
	line-height: 1.4em;
	width: 50%;
}

.awesome-weather-forecast { 
	border-top: solid 1px rgba(255,255,255,0.5);
	width: 90%; 
	margin: 20px auto;
	padding-top: 20px;
	clear: both; 
}

.awesome-weather-forecast-day {
	width: 18%;
	margin: 0 1%;
	float: left;
	text-align: center;
	font-weight: 400;
}

.awe_days_2 .awesome-weather-forecast-day { width: 48%; }
.awe_days_3 .awesome-weather-forecast-day { width: 31%; }
.awe_days_4 .awesome-weather-forecast-day { width: 23%; }

.awesome-weather-forecast-day-temp { font-size: 1.8em; font-weight: 400; }
.awesome-weather-forecast-day-temp sup { font-size: 0.6em; padding-left: 2px; }
.awesome-weather-forecast-day-abbr { text-transform: uppercase; font-size: 0.8em; margin-top: 5px; padding-right: 4px;  }

.awe_tall .awesome-weather-current-temp,
.awe_tall .awesome-weather-todays-stats,
.awe_without_stats .awesome-weather-current-temp { float: left; }
.awe_tall .awesome-weather-todays-stats { padding: 0 5%; }

.awe_without_stats .awesome-weather-forecast { margin-top: 0; }

#sidebar .awe_wide .awesome-weather-current-temp,
#secondary .awe_wide .awesome-weather-current-temp { font-size: 50px; }

#sidebar .awe_wide .awesome-weather-current-temp sup,
#secondary .awe_wide .awesome-weather-current-temp sup { font-size: 18px; }

#sidebar .awe_wide .awesome-weather-todays-stats,
#secondary .awe_wide .awesome-weather-todays-stats { font-size: 12px; }


.awesome-weather-more-weather-link { padding: 5px; text-align: center; }
.awesome-weather-more-weather-link a { color: #fff !important; text-decoration: none !important; font-size: 0.8em; }
