/*
 * jQuery FlexSlider v2.0
 * http://www.woothemes.com/flexslider/
 *
 * Copyright 2012 WooThemes
 * Free to use under the GPLv2 license.
 * http://www.gnu.org/licenses/gpl-2.0.html
 *
 * Contributing author: Tyler Smith (@mbmufffin)
 */

 
/* Browser Resets */
.flex-container a:active,
.flexslider a:active,
.flex-container a:focus,
.flexslider a:focus  {outline: none;}
.slides,
.flex-control-nav,
.flex-direction-nav {margin: 0; padding: 0; list-style: none;} 

/* FlexSlider Necessary Styles
*********************************/ 
.flexslider {margin: 0; padding: 0;}
.flexslider .slides > li {display: none; -webkit-backface-visibility: hidden;} /* Hide the slides before the JS is loaded. Avoids image jumping */
.flexslider .slides img {width: 100%; display: block;}
.flex-pauseplay span {text-transform: capitalize;}

/* Clearfix for the .slides element */
.slides:after {content: "."; display: block; clear: both; visibility: hidden; line-height: 0; height: 0;} 
html[xmlns] .slides {display: block;} 
* html .slides {height: 1%;}

/* No JavaScript Fallback */
/* If you are not using another script, such as Modernizr, make sure you
 * include js that eliminates this class on page load */
.no-js .slides > li:first-child {display: block;}


/* FlexSlider Default Theme
*********************************/
.flexslider {margin: 0 0 60px; background: #transparent; border: 4px solid #fff; position: relative; -webkit-border-radius: 4px; -moz-border-radius: 4px; -o-border-radius: 4px; border-radius: 4px; box-shadow: 0 1px 4px rgba(0,0,0,.2); -webkit-box-shadow: 0 1px 4px rgba(0,0,0,.2); -moz-box-shadow: 0 1px 4px rgba(0,0,0,.2); -o-box-shadow: 0 1px 4px rgba(0,0,0,.2); zoom: 1;}
.flex-viewport {max-height: 2000px; -webkit-transition: all 1s ease; -moz-transition: all 1s ease; transition: all 1s ease;}

.flexslider .slides {zoom: 1;}

.carousel li {margin-right: 5px}


/* Direction Nav */
.flex-direction-nav {*height: 0;}
.flex-direction-nav a {width: 30px; height: 30px; margin: -20px 0 0; display: block; background: url(images/bg_direction_nav.png) no-repeat 0 0; position: absolute; top: 50%; z-index: 10; cursor: pointer; text-indent: -9999px; opacity: 0; -webkit-transition: all .3s ease;}
.flex-direction-nav .flex-next {background-position: 100% 0; right: -36px; }
.flex-direction-nav .flex-prev {left: -36px;}
.flexslider:hover .flex-next {opacity: 0.8; right: 5px;}
.flexslider:hover .flex-prev {opacity: 0.8; left: 5px;}
.flexslider:hover .flex-next:hover, .flexslider:hover .flex-prev:hover {opacity: 1;}
.flex-direction-nav .flex-disabled {opacity: .3!important; filter:alpha(opacity=30); cursor: default;}

/* Control Nav */
.flex-control-nav {width: 100%; position: absolute; bottom: -40px; text-align: center;}
.flex-control-nav li {margin: 0 6px; display: inline-block; zoom: 1; *display: inline;}
.flex-control-paging li a {width: 11px; height: 11px; display: block; background: #666; background: rgba(0,0,0,0.5); cursor: pointer; text-indent: -9999px; -webkit-border-radius: 20px; -moz-border-radius: 20px; -o-border-radius: 20px; border-radius: 20px; box-shadow: inset 0 0 3px rgba(0,0,0,0.3);}
.flex-control-paging li a:hover { background: #333; background: rgba(0,0,0,0.7); }
.flex-control-paging li a.flex-active { background: #000; background: rgba(0,0,0,0.9); cursor: default; }

.flex-control-thumbs {margin: 5px 0 0; position: static; overflow: hidden;}
.flex-control-thumbs li {width: 25%; float: left; margin: 0;}
.flex-control-thumbs img {width: 100%; display: block; opacity: .7; cursor: pointer;}
.flex-control-thumbs img:hover {opacity: 1;}
.flex-control-thumbs .flex-active {opacity: 1; cursor: default;}

@media screen and (max-width: 860px) {
  .flex-direction-nav .flex-prev {opacity: 1; left: 0;}
  .flex-direction-nav .flex-next {opacity: 1; right: 0;}
}

.home-slider,
.kp-post-slider,
.kp-gallery-slider,
.kp-gallery-carousel,
.kp-featured-news-slider {
	border-radius: 0;
	border: none;
	box-shadow: none;
	margin: 0;
}
.home-slider .flex-direction-nav,
.kp-gallery-slider .flex-direction-nav,
.kp-gallery-carousel .flex-direction-nav,
.kp-featured-news-slider .flex-direction-nav {
	display: none;
}
.home-slider .flex-direction-nav li {
	margin:0;
}
.home-slider .flex-control-nav {
	bottom: 20px;
	width: auto;
	right: 20px;
	height: 11px;
}
.kp-post-slider .flex-control-nav {
	display: none;
}
.home-slider ul li article {
	position: relative;
}
.home-slider .flex-caption {
	position: absolute;
	left: 0;
	bottom: 20px;
	padding: 15px 20px 5px;
	width: 565px;
	background-color: rgba(0,0,0,.7);
	color: #feffff;
	font-size: 13px;
}
.home-slider .flex-caption h3 {
	font-size: 22px;
	margin: 0 0 10px;
}
.home-slider .flex-caption h3 a {
	color: #feffff;
}
.home-slider .flex-caption p {
	font-size:13px;
	font-family: 'Open Sans',sans-serif;
}
.home-slider .flex-control-nav li,
.kp-post-slider .flex-control-nav li {
	margin: 0 3px;
}
.home-slider .flex-control-paging li a,
.kp-post-slider .flex-control-paging li a {
	background-color: #fff;
	box-shadow: none;
}
.home-slider .flex-control-paging li a.flex-active,
.kp-post-slider .flex-control-paging li a.flex-active {
	background-color: #1e7fd1;
}

.kp-post-slider .flex-control-paging li a {
	width: 8px;
	height: 8px;
}

.kp-post-slider .flex-direction-nav li {
	list-style: none;
	margin: 0;
}
.kp-post-slider .flex-direction-nav li a {
	position: absolute;
	top: 58%;
	display: block;
	background-repeat: no-repeat;
	background-position: 0 0;
	width: 15px;
	height: 22px;
	opacity:1;
	filter: alpha(opacity=100);
}
.kopa-blog-page .kp-post-slider .flex-direction-nav li a {	
	top: 52%;
}
.flex-direction-nav .flex-prev {
	background-image: url("../images/slider/carousel-prev.png");
	left: 10px !important;
}
.flex-direction-nav .flex-next {
	background-image: url(../images/slider/carousel-next.png);
	
	right: 10px !important;
}
.entry-list > li:first-child .flex-direction-nav .flex-prev {
	left: 20px !important;
}
.entry-list > li:first-child .flex-direction-nav .flex-next {
	right: 20px !important;
}

.kp-featured-news-widget {
	position:relative;
}
.kp-featured-news-slider .flex-control-thumbs {
	position:absolute;
	top:195px;
}
.kp-featured-news-slider .flex-control-thumbs li {
	margin:0 5px 0 5px;
	width:100px;
}
.kp-featured-news-slider .flex-control-thumbs li img {
	border:3px solid #a8a9aa;
	opacity: 1;
	filter: alpha(opacity=100);
}
.kp-featured-news-slider .flex-control-thumbs li img.flex-active {
	border-color:#1e7fd1;
}

.kp-featured-news-slider .entry-content .entry-title {
	font-size:14px;
	line-height:18px;
}

.kp-post-slider .slides > li {
	margin:0;
}


.loading {
    background: url("../images/slider/loading.gif") no-repeat scroll center center transparent;
    min-height: 320px;
}