.flex-control-paging li a,
.kp-dropcap.color,
.search-form .search-text,
.search-form .search-submit,
.list-carousel .carousel-pager a,
#back-top a {
	behavior: url(js/PIE.htc);
}

.home-slider .flex-caption,
.mask {
	background: url(../images/background/caption-bg.png) repeat 0 0;
}
.mask a {
	opacity: 0;
    filter: alpha(opacity=0);
}
.mask:hover a {
	opacity: 1;
    filter: alpha(opacity=100);
}
#main-menu li ul li a:active {
	background-color: #494949 !important;
}
